$white: #ffffff;
$whiteVariant: #f6f6f6;
$whiteVariant-focus: #e6e6e6;
$black: #000000;
$blackVariant: #1f1f1f;
$primary: #3a4a40;
$primary-focus: #1d824f;
$secondary: #007fb6;
$secondary-focus: #00b3ee;
